# /Credentials/*
/Credentials/info.py
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
**/__pycache__/*
Credentials/*
cache/*
.vscode/*
Scripts/*
pyvenv.cfg
Lib/*
Other/*
Classifiers/*
```
Gloc/log.txt